<nav>
    <ul>
        <li><a href="/">main</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/admin">admin</a></li>
        <li><a href="/logout">{{logout}}</a></li>
    </ul>
</nav>
<nav class="adminpanel">
    <ul>
        <li><a id="wewnetrzny" href="/sort">sort</a></li>
        <li><a id="wewnetrzny" href="/gender">gender</a></li>
        <li><a id="wewnetrzny" href="/show">show</a></li>
    </ul>
</nav>
<h1>Admin page</h1>