<nav>
    <ul>
        <li><a href="/">main</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/admin">admin</a></li>
        <li><a href="/logout">{{logout}}</a></li>
    </ul>
</nav>
<div id="main">
    <h1>main page</h1>
</div>